<div id="application">
  <section id="classroom-chooser">
  </section>

  <section id="placement-chooser">
    <header id="placement-chooser-toolbar" class="row">
      <h2 class="large-8 columns">
        Click a placement to go to the workbench
      </h2>
      <form class="large-4 columns">
        <button type="button" class="button">New Placement</button>
      </form>
    </header>

    <ul id="placement-list" class="row">
    </ul>
  </section>

  <section id="workbench">
    <header id="workbench-toolbar">
      <button id="save-placement" class="success button">Save</button>
    </header>

    <main class="large-9 columns">
      <ul id="companies" class="row">
      </ul>
    </main>

    <aside id="unplaced-students" class="large-3 columns">
    </aside>

    <footer id="bus-details">
    </footer>
  </section>
</div>

<script type="text/template" id="placement-card-template">
  <h3>
    Placement <%- id %>
  </h3>
  <p>
    <%- pairing_count %> of <%- student_count %> students paired
  </p>
  <p>
    Last modified <%- updated_at %>
  </p>
</script>

<script type="text/template" id="company-template">
  <div class="company">
    <h3>
      <%- name %>
    </h3>
    <ul class="student-list">
    </ul>
  </div>
</script>

<script type="text/template" id="student-template">
  <div class="row">
    <h4 class="large-9 columns">
      <%- name %>
    </h4>
    <% if (score) { %>
      <h4 class="large-3 columns student-score">
        (<%- score %>)
      </h4>
    <% } %>
  </div>
</script>

<script type="text/template" id="empty-slot-template">
  <li class='empty student'>
    <h4>
      &nbsp;
    </h4>
  </li>
</script>

<script type="text/template" id="bus-details-template">
  <div>
    <p>
      Current Score:
      <%- score %>,
      Selected:
      <%- student ? student.get('name') : "[None]" %>
    </p>
  </div>
</script>
