<div id="application">
  <main class="large-9 columns">
    <ul id="companies" class="row">
    </ul>
  </main>

  <aside id="unplaced-students" class="large-3 columns">
  </aside>

  <footer id="bus-details">
  </footer>
</div>

<script type="text/template" id="company-template">
  <div class="company">
    <h3>
      <%- name %>
    </h3>
    <ul class="student-list">
    </ul>
  </div>
</script>

<script type="text/template" id="student-template">
  <div class="row">
    <h4 class="large-9 columns">
      <%- name %>
    </h4>
    <% if (score) { %>
      <h4 class="large-3 columns student-score">
        (<%- score %>)
      </h4>
    <% } %>
  </div>
</script>

<script type="text/template" id="empty-slot-template">
  <li class='empty student'>
    <h4>
      &nbsp;
    </h4>
  </li>
</script>

<script type="text/template" id="bus-details-template">
  <div>
    <p>
      Current Score:
      <%- score %>,
      Selected:
      <%- student ? student.get('name') : "[None]" %>
    </p>
  </div>
</script>
