<div id="application">
  <main>
    <ul id="companies" class="large-9 columns">
      <li>Samsung</li>
      <li>City of Seattle Open Data</li>
      <li>Pivotal Labs</li>
    </ul>
    <aside id="unplaced-students" class="company large-3 columns">
      <h3>
        Unplaced Students
      </h3>
      <ul class="student-list">
      </ul>
    </aside>
  </main>
</div>

<script type="text/template" id="company-template">
  <h3>
    <%%- name %>
  </h3>
  <ul class="student-list">
  </ul>
</script>

<script type="text/template" id="student-template">
  <h4>
    <%%- name %>
  </h4>
</script>
