<header class="clearfix">
  <h2 class="float-left">Placement <%= @placement.name ? "<em>#{@placement.name}</em> (#{@placement.id})".html_safe : @placemnt.id %> for <%= @placement.classroom.name %></h2>

  <nav class="float-right button-group" id="toolbar">
    <button class="success button" id="toolbar-save-button">
      Save
    </button>
    <button class="button" id="toolbar-undo-button">
      Undo
    </button>
    <button class="button" id="toolbar-redo-button">
      Redo
    </button>
  </nav>
</header>

<section id="placement-workbench">
  <header id="workbench-toolbar">
  </header>

  <section class="large-9 columns">
    <ul id="companies" class="row">
    </ul>
  </section>

  <aside id="unplaced-students" class="large-3 columns">
  </aside>

  <footer id="bus-details">
  </footer>
</section>

<!-- Initial placement state
Note: the double equals on the ERB tag prevents HTML escaping,
which we don't really want for a big blob of JSON
-->
<script type="text/javascript" id="placement-data">
  window.placementData = <%== render partial: "placement" %>
</script>

<!-- Underscore templates -->
<script type="text/template" id="company-template">
  <div class="company">
    <h3>
      <#- name #>
    </h3>
    <ul class="student-list">
    </ul>
  </div>
</script>

<script type="text/template" id="student-template">
  <div class="row" draggable="true">
    <h4 class="large-9 columns">
      <#- name #>
    </h4>
    <# if (score) { #>
      <h4 class="large-3 columns student-score">
        (<#- score #>)
      </h4>
    <# } #>
  </div>
</script>

<script type="text/template" id="empty-slot-template">
  <li class='empty student'>
    <h4>
      &nbsp;
    </h4>
  </li>
</script>

<script type="text/template" id="bus-details-template">
  <div>
    <p>
      Current Score:
      <#- score #>,
      Selected:
      <#- student ? student.get('name') : "[None]" #>
    </p>
  </div>
</script>
