// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, ul ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

#unplaced-students {
  padding: 0;
  margin: 0;
}

.company {
  background-color: #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.company h3 {
  font-size: 1.4rem;
}

.student {
  background-color: #e2e2e2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.student h4 {
  font-size: 1.1rem;
  margin-bottom: 0px;
}

.student.empty {
  background-color: #808080;
}

#bus-details {
  position: fixed;
  bottom: 0;
  padding-left: 10px;
}
