// Place all the styles related to the classrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul, ul ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.1rem;
}

.placement-summary {
  background-color: #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.placement-summary p {
  font-size: .9rem;
  margin-bottom: 0px;
}

#unplaced-students {
  padding: 0;
  margin: 0;
}

.company {
  background-color: #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.excellent-match .company {
  background-color: #49bcff;
}

.good-match .company {
  background-color: #39b737;
}

.mediocre-match .company {
  background-color: #e2dd36;
}

.bad-match .company {
  background-color: #ef3232;
}

.student {
  background-color: #e2e2e2;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  box-sizing: border-box;
}

.student h4 {
  margin-bottom: 0px;
}

.student.empty {
  background-color: #808080;
}

.excellent-match.student {
  border-style: solid;
  border-width: 3px;
  border-color: #49bcff;
  padding: 7px;
}

.good-match.student {
  border-style: solid;
  border-width: 3px;
  border-color: #39b737;
  padding: 7px;
}

.mediocre-match.student {
  border-style: solid;
  border-width: 3px;
  border-color: #e2dd36;
  padding: 7px;
}

.bad-match.student {
  border-style: solid;
  border-width: 3px;
  border-color: #ef3232;
  padding: 7px;
}

.student.selected {
  border-style: dashed;
  border-width: 3px;
  border-color: purple;
  padding: 7px;
}

#bus-details {
  position: fixed;
  bottom: 0;
  padding-left: 10px;
}
